<div class='row justify-content-sm-center' id='sign-in-container'>
  <div class='col col-md-7 col-sm-10'>
    <%= image_tag 'forza_logo', id: 'forza-logo' %>

    <div class='row justify-content-sm-center' id='inner-sign-in-container'>
      <div class='col col-md-6 col-sm-10'>

        <div id='form-container'>
          <%= devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-group sign-in-form-element">
              <%= f.text_field :username, autofocus: true, placeholder: "Nombre de Usuario", class: 'form-control' %>
            </div>
            <div class="form-group sign-in-form-element">
              <%= f.email_field :email, autofocus: true, placeholder: "Correo electr칩nico", class: 'form-control' %>
            </div>
            <div class='form-group sign-in-form-element'>
              <%= f.password_field :password, placeholder: 'Contrase침a' , class: 'form-control' %>
            </div>
            <div class='form-group sign-in-form-element'>
              <%= f.password_field :password_confirmation, placeholder: 'Confirmar contrase침a' , class: 'form-control' %>
            </div>
            <%= f.submit 'Registrar', class: 'btn btn-success sign-in-btn' %>
 
           <div class="sign-in-links">
              <span class="not-registered-link">Ya estas registrado? <%= link_to "Inicia sesi칩n", new_user_session_path%> </span>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>


