<div class='row justify-content-sm-center push-ups-form'>
	<div class='col-sm-12 form-title'>
		<h5>Lagartijas (Push ups)</h5>
	</div>
	<div class='col-sm-10 form-content'>
		<div class='form-group row justify-content-sm-center'>
			<%= f.number_field :push_ups, placeholder: 'Repeticiones', class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :push_ups_form, options_for_select_of('push_ups_form'), { include_blank: 'Forma' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :push_ups_rom, options_for_select_of('push_ups_rom'), { include_blank: 'ROM' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :push_ups_core, options_for_select_of('push_ups_core'), { include_blank: 'Core' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :push_ups_rhythm, options_for_select_of('push_ups_rhythm'), { include_blank: 'Ritmo' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.text_area :push_ups_notes, placeholder: 'Notas', class: 'col-sm-8 form-control' %>
		</div>
	</div>
</div>
<br/>
