<%= provide(:title, "Asistencias") %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Fechas </h5>

    <%= form_tag("attendance", method: "get") do %>
      <div class="field">
        <%= text_field_tag(:start_date, TimeFormat.to_american_date(@start_date), "data-provide" => 'datepicker' ) %>
        <%= text_field_tag(:end_date, TimeFormat.to_american_date(@end_date), "data-provide" => 'datepicker') %>
        <%= submit_tag 'Buscar' ,class: "btn btn-primary"%>
      </div>

    <% end %>
  </div>
</div>

<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> <%= "Has ido un total de #{@filtered_attendances_count} veces entre #{TimeFormat.to_american_date(@start_date)} y #{TimeFormat.to_american_date(@end_date)}" %> </h5>
    <%= line_chart @filtered_attendances %>
  </div>
</div>
<br>

<%= render "members/attendances/attendance_table" %>
