<%= provide(:title, "Pagos") %>
<div class="card">
  <div class="card-body">
  <h5 class="card-title">Registrar pago</h5>
    <div class="container text-left">
      <%= form_for Payment.new do |f| %>
          <%= f.text_field :username %>
          <%= f.text_field(:amount, value: 800) %>
          <%= f.text_field(:date, value: Time.now.strftime("%m/%d/%Y"), "data-provide" => 'datepicker', readonly: true) %>
          <%= f.submit 'Crear', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Fechas</h5>
    <%= form_tag("payments", method: "get") do %>
      <div class="field">
        <%= text_field_tag(:start_date, @start_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker', readonly: true) %>
        <%= text_field_tag(:end_date, @end_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker', readonly: true) %>
        <%= submit_tag 'Buscar', class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= "Se han registrado un total de #{@monthly_payments_count} pagos(s) entre #{TimeFormat.to_american_date(@start_date)} y #{TimeFormat.to_american_date(@end_date)}" %></h5>
    <%= line_chart @monthly_payments %>
  </div>
</div>
<br>

<%= render "admin/payments/payment_logs" %>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Pagos por mes desde <%= Time.now.beginning_of_year.strftime('%m/%d/%Y')%> </h3>
    <%= line_chart @monthly_payments %>
  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Pagos por semana desde <%= Time.now.beginning_of_year.strftime('%m/%d/%Y')%></h5>
    <%= line_chart @weekly_payments_all %>
  </div>
</div>
<br>
