<tr class="text-center">
    <td><%= payment.id %></td>
    <td><%= payment.user.username %></td>
    <td><%= payment.date.to_date %></td>
    <td>$<%= payment.amount %></td>
    <td><%= payment.status %></td>
</tr>