<tr class="text-center">
    <td><%= payment.id %></td>
    <td><%= payment.user.username %></td>
    <td><%= payment.date.to_date %></td>
    <td><%= payment_amount(payment.amount) %></td>
    <%= payment_status(payment.status) %>
</tr>