<div class='row justify-content-sm-center' id='sign-in-container'>
  <div class='col col-md-7 col-sm-10'>
    <%= image_tag 'forza_logo', id: 'forza-logo' %>

    <div class='row justify-content-sm-center' id='inner-sign-in-container'>
      <div class='col col-md-6 col-sm-10'>

        <div id='form-container'>
          <%= devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='form-group sign-in-form-element'>
              <%= f.text_field :login, autofocus: true, placeholder: 'Usuario o email', class: 'form-control' %>
            </div>

            <div class='form-group sign-in-form-element'>
              <%= f.password_field :password, placeholder: 'Contraseña' , class: 'form-control' %>
            </div>
            <div class='remember-me'>
              <%= f.check_box :remember_me %> <%= f.label "Recuérdame" %>
            </div>
            <%= f.submit 'Entrar', class: 'btn btn-success sign-in-btn' %>

            <div class="sign-in-links">
              <span class="not-registered-link">Aún no tienes cuenta? <%= link_to "Registrate", new_user_registration_path%> </span>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

