<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
<div class="container-fluid">
  <h1>Pago</h1>

  <%= form_for @payment do |f| %>
      <%= f.text_field(:user_id) %>
      <%= f.text_field(:amount, value: 800) %>
      <%= f.text_field(:date, value: Time.now.strftime("%m/%d/%Y"), "data-provide" => 'datepicker') %>
      <%= f.submit 'Crear', class: "btn btn-primary"%>
  <% end %>

  <br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Usuario</th>
        <th>ID</th>
      </tr>
    </thead>

    <% @all_members.each do |member| %>
      <tr>
        <td><%= member.username %></td>
        <td><%= member.id %></td>
      </tr>
    <% end %>
  </table>

  <br>
</div>
