<div class='row justify-content-sm-center pull-ups-form'>
	<div class='col-sm-12 form-title'>
		<h5>Dominadas (Pull ups)</h5>
	</div>
	<div class='col-sm-10 form-content'>
		<div class='form-group row justify-content-sm-center'>
			<%= f.number_field :pull_ups, autofocus: true, placeholder: 'Repeticiones', class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :pull_ups_form, pull_ups_form_options_for_select, { include_blank: 'Forma' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :pull_ups_rom, pull_ups_rom_options_for_select, { include_blank: 'ROM' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :pull_ups_core, pull_ups_core_options_for_select, { include_blank: 'Core' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.select :pull_ups_rhythm, pull_ups_rhythm_options_for_select, { include_blank: 'Ritmo' }, class: 'col-sm-8 form-control', required: true %>
		</div>
		<div class='form-group row justify-content-sm-center'>
			<%= f.text_area :pull_ups_notes, placeholder: 'Notas', class: 'col-sm-8 form-control' %>
		</div>
	</div>
</div>
<br/>
