<tr class="text-center">
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= TimeFormat.to_mexican_date(user.created_at) %></td>
    <%= format_member_active(user.active) %>
    <%= toggle_status_button(user) %>
</tr>
