<p id="notice"><%= notice %></p>

<%= form_tag("/attendances", method: "get") do %>
  <h1>Asistencias</h1>

  <%= text_field_tag(:start_date, @start_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker' ) %>
  <%= text_field_tag(:end_date, @end_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker') %>
  <%= submit_tag 'Buscar' %>
<% end %>
<br>
<h4> <%= "Has ido un total de #{@attendances_count} veces." %> </h4>

<%= line_chart @attendances %>
