<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
<h1>Asistencias</h1>

<%= form_tag("/attendances", method: "get") do %>
  <div class="field">
    <%= text_field_tag(:start_date, @start_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker' ) %>
    <%= text_field_tag(:end_date, @end_date.strftime('%m/%d/%Y'), "data-provide" => 'datepicker') %>
    <%= submit_tag 'Buscar' ,class: "btn btn-primary"%>

  </div>

<% end %>

<br>

<h4> <%= "Has ido un total de #{@attendances_count} veces." %> </h4>

<%= line_chart @attendances %>

<br>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Atleta</th>
    </tr>
  </thead>

 <% @all_attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.date.strftime('%m/%d/%Y') %></td>
    <td><%= attendance.user.username %></td>
  </tr>
<% end %>
 </table>

<h3> Asistencias por mes </h3>
 <%= line_chart @monthly_attendances %>

 <h3> Asistencias por semana </h3>
 <%= line_chart @weekly_attendances %>

 <h3> Asistencias por dia de la semana </h3>
 <%= line_chart @day_of_week_attendances %>

 <h3> Asistencias por semana </h3>
 <%= @avg_attendances.inspect %>
 <%= pie_chart @avg_attendances %>
