<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
<div class="container-fluid">
  <h1>Asistencias</h1>

  <%= form_for @attendance do |f| %>
      <%= f.autocomplete_field :user_id, attendances_autocomplete_user_username_path %>
      <%= f.text_field(:date, value: Time.now.strftime("%m/%d/%Y"), "data-provide" => 'datepicker') %>
      <%= f.submit 'Crear', class: "btn btn-primary"%>
  <% end %>

  <br>
</div>
