<!DOCTYPE html>
<html>
  <head>
    <title>ForzaDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <%= render partial: 'layouts/admin_navbar' %>
      <% elsif current_user.has_role? :member %>
        <%= render partial: 'layouts/member_navbar' %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
